.button {
    display: flex;
    align-items: center;

    margin-left: 12px;
    padding: 10px 29px;
    min-width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 0.5;
    border-style: none;
    letter-spacing: 0.06em;

    color: $primery-white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}