.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px 0;;
    width: 528px;
    height: 581px;

    background: $primery-white-color;
    box-shadow: 0px 1px 3px $box-shadow-color, 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform $duration $timing-function;
}

.modal__text {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center; 

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: $primery-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);  
    cursor: pointer;
    transition: fill $duration $timing-function;

      &:hover,
      &:focus {
          fill: $accent-color;
      }
}

