.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.18;
    text-align: center;

    @include for-size(desktop) {
        margin-bottom: 50px;
        color: $title-text-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;

    }
}

.section--grey {
    background-color: $background-color-icon;
}