@mixin for-size($range) {
 
  @if $range == mobile-only {
    @media (max-width: #{$mobile - 1}) { @content; }
  } @else if $range == mobile {
    @media (min-width: $mobile) { @content; }
  } @else if $range == tablet {
    @media (min-width: $tablet) { @content; }
  } @else if $range == desktop {
    @media (min-width: $desktop) { @content; }
  } 
}

// // usage
// .my-box {
//   padding: 10px;
  
//   @include for-size(desktop-up) {
//     padding: 20px;
//   }
// }


.header {
    position: relative;
    background-color: $primery-white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    border-bottom: 1px solid $header-border-color;

    @include for-size(tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    }

    @media screen and (max-width: $tablet - 1) {
        padding: 10px 0;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    @media (max-width: $tablet - 1) {
        margin-bottom: 60px;
    }

    @include for-size(tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @media (min-width: $tablet) and (max-width: $desktop - 1) {
        margin-left: 88px;
        margin-right: 84px;
    }

    @include for-size(desktop) {
        margin-left: 93px;
        margin-right: 287px;
    }
}

.header-nav__item + .header-nav__item {
    margin-left: 50px;
}

.header-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus{
    color: $accent-color;
}

.header-nav__link--current{
    position: relative;
    color: $accent-color;
}

.header-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
}


.header-contact {
    
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        font-size: 12px;
        line-height: 1.17;
        font-weight: 500;
        text-align: left;
    }
   
   @include for-size(desktop) {
       display: flex;
       margin-left: auto;
       text-align: center;
       font-size: 14px;
       line-height: 16px;
        font-weight: 500;

   } 
}


.header-contact__item + .contact__item {
    @include for-size(desktop){
        margin-left: 30px;
    }
}

.header-contact__link{
    display: inline-flex;
    align-items: center;
    color: $primery-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
        cursor: pointer;
    }
}

.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon { 
    fill: $accent-color;
    cursor: pointer;
}


.header-contact__icon {
    margin-right: 10px;
    fill: $primery-text-color;
}

.navigation {
  @media (max-width: $tablet - 1) {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background-color: $primery-white-color;
    text-align: center;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}