.footer{
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: $desktop - 1) {
        text-align: center;
    }
}

.flex-container {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1){
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


.footer-address {
   text-align: center;
}

.footer-contacts {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    @media screen and (max-width: $desktop - 1) {
         margin-bottom: 60px;
    }
   

}

.footer-contacts__address {
    margin: 0;
    color: $primery-white-color;
}
.footer-contacts__list {
    padding: 0;
    margin-top: 9px;
}
.footer-contacts__link {
    transition: $duration $timing-function;
}

.footer-contacts__link{
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: $secondary-text-color;

    &:hover, 
    &:focus {
        color: $accent-color;
    }
} 

.phone {
    margin-top: 9px;
}

.footer-network {
    @media screen and (max-width: $tablet - 1){
        margin-bottom: 60px;
    }

    @include for-size(desktop) {
        margin-left: 70px;
    }
}

.footer-network__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primery-white-color;
}



.footer-subscribe {
    @media screen and (min-width: $desktop) {
        margin-left: 93px;
    }
}

.footer-subscribe__text {
    margin: 0;
    color: $primery-white-color;
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-subscribe__form {
    margin-top: 15px;

    @include for-size(desktop) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}



.footer-subscribe__input {
    width: 100%;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    color: $secondary-text-color;;
    background-color: $background-color;

    @include for-size(tablet) {
        width: 450px;
    }

    @include for-size(desktop) {
        width: 358px;
    }
}

.footer-button {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;


    @include for-size(desktop) {
        margin-left: 12px;
        margin-top: 0;
    }
   
}
.footer-subscribe__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px; 
    fill: $primery-white-color;
}
